body{
  margin:8px;
  font-family: arial;
  display:block;
  background-color: black;
  color: white;
}
.contenido {
  display: flex;
  flex-direction: column;
}
.encabezado1 {
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;

}
header{
  display: flex;
}
.navbar{
  float: right;
  display: block;
  color:#5b7989
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 15%;
  margin-top: 2%;
}
.navbar a:hover{
  background-color: #ddd;
  color:black;
}
.encabezado1 h1{
  text-shadow: 2px 2px #02010a;
}
a:link,a:visited{
  color:white;
}
.contenido{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.encabezado1{
  width: 100%;
}
.imgprimaria {
  display: flex;
  width: 100%;
  }
  .imgprimaria1{
    background-color: #82c3a6;
    width: 100%;
  }
  #imgpri{
    text-align: center;
  }
  .imgprimaria p{
      text-shadow: 2px 2px #02010a;
  }
